<a id="button_restore" title="" class="btn btn-success"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
<template id="template-restore">
    <div class="form-group">
        <label>{{entry_date}}</label>
        <select class="form-control" name="restore_date">
            {% for value in times %}
                <option value="{{value.date_added}}" data-draft="{{value.draft}}">{{value.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group text-center">
        <a id="button-restore-submit" class="btn btn-primary" data-loading-text="Loading...">{{button_restore}}</a>
    </div>
</template>
<script type="text/javascript">
    $(document).ready(function(){
        setInterval(function(){
            if(typeof window.content_description == 'undefined'){
                window.content_description = [];
            }
            {% for language in languages %}
            var content = $("textarea[name='product_description[{{language.language_id}}][description]']").val();

            if( typeof window.content_description['{{language.language_id}}'] != 'undefined'){
                
                if(content.localeCompare(window.content_description['{{language.language_id}}']) != 0){
                    window.content_description['{{language.language_id}}'] = content;
                    addDraft(content, '{{language.language_id}}', 'description');
                }
            }
            else{
                window.content_description['{{language.language_id}}'] = content;
            }
            {% endfor %}
        }, 1000);

        function addDraft(content, language_id, field){
            var send_data = {
                'datetime' : $('select[name=restore_date]').val(),
                'config_name' : 'product',
                'language_id' : language_id,
                'field' : field,
                'content' : content,
                'id' : '{{product_id}}'
            }
            $.ajax({
                url:'{{draft_url}}',
                dataType:'json',
                type:'post',
                data:send_data,
                context:this,
                success:function(){
                }
            });
        }

        $('#button_restore').tooltip({
            title : '{{button_restore}}',
            container: 'body',
            html: true
        });
        $('#button_restore').popover({
            animation : true,
            title : '{{text_title_restore}}',
            html : true,
            trigger : 'click',
            placement : 'bottom',
            content : $('template#template-restore').html()
        });
        $(document).on('click', '#button-restore-submit', function(){
            $(this).button('loading');
            var send_data = {
                'datetime' : $('select[name=restore_date]').val(),
                'config_name' : 'product',
                'id' : '{{product_id}}'
            }
            $.ajax({
                url:'{{restore_url}}',
                dataType:'json',
                type:'post',
                data:send_data,
                context:this,
                success:function(){
                    location.reload()
                }
            });
        });
    });
    
</script>