<a id="restore-data" class="vd-btn"></a>
<style>
    #restore-data{
        background-image: url(view/image/d_editor_history/history.svg);
        background-repeat: no-repeat;
        background-position: center
    }
</style>
<template id="template-restore">
    <div class="form-group">
        <label>{{entry_date}}</label>
        <select class="form-control" name="restore_date">
            {% for value in times %}
                <option value="{{value.date_added}}"  data-draft="{{value.draft}}">{{value.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group text-center">
        <a id="button-restore-submit" class="btn btn-primary" data-loading-text="Loading...">{{button_restore}}</a>
    </div>
</template>
<script type="text/javascript">
    $(document).ready(function(){
        $('#restore-data').tooltip({
            title : '{{button_restore}}',
            container: 'body',
            placement: 'bottom',
            html: true
        });
        $('#restore-data').popover({
            animation : true,
            title : '{{text_title_restore}}',
            html : true,
            trigger : 'click',
            placement : 'bottom',
            content : $('template#template-restore').html()
        });
        $(document).on('click', '#button-restore-submit', function(){
            $(this).button('loading');
            var send_data = {
                'datetime' : $('select[name=restore_date]').val(),
                'config_name' : 'product',
                'id' : '{{product_id}}'
            }
            $.ajax({
                url:'{{restore_url}}',
                dataType:'json',
                type:'post',
                data:send_data,
                context:this,
                success:function(){
                    location.reload()
                }
            });
        });
    });
    
</script>